<div class="jumbotron center">
  <h1>Wecome to Pin Pic</h1>
  <p>This the home page for Pin Pic where you can share your pictures online.</p>
  <p><a class="btn btn-info btn-lg" role="button">Learn more</a></p>
</div>








 