<% if user_signed_in? %>
  <p>Welcome back <% current_user[:email] %>, you are logged in!</p>
<% else %>
  <div class="jumbotron center">
    <h1>Wecome to Pin Pic</h1>
    <p>This the home page for Pin Pic where you can share your pictures online.</p>
    <p><%= button_to "Be part of the family!", "", role: "button", class: "btn btn-info btn-lg", data: {toggle: "modal", target: "#myModal"} %></p>
  </div>
  
<% end %>









 