
@import "bootstrap";
@import "bootstrap/theme";

/* global */
html { overflow-y: scroll;}
body { padding-top: 70px;}
section { overflow: auto; }
textarea { resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }
.top-30-margin { margin-top: 30px; }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* jquery masnory */
.box{ margin: 5px; padding: 5px; font-size:11px; line-height:1.4em; float:left; 
      box-shadow: 1px 1px 10px #444; width:214px;}
.box img { display: block; width:100%; }      
.box, .box img{ border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
.description {margin: 10px 0 5px;}