<footer class="footer">
  <small>
    <a href="#">Pin Pic</a>
    by Ahmed NAdar
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
